<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <!-- TODO: MENU -->
    <!-- TODO: Table of students -->
    <div class="container">
        <h1>Student administration</h1>

        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Enrollment</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.enrollmentDate}"></td>
                <td><a th:href="@{/student(id=${student.id})}"><button>Details</button></a></td>
                <td><a th:href="@{/deletestudent(id=${student.id})}"><button>Delete</button></a></td>
            </tr>

            <!--
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>19/5-2020</td>
                <td><button>click me</button></td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>11/6-2013</td>
                <td><button>click me</button></td>

            </tr>
            <tr>
                <td>Karl</td>
                <td>Marx</td>
                <td>11/6-2013</td>
                <td><button>click me</button></td>
            </tr>
            -->
        </table>
    </div>
</body>
</html>